<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap Student Login</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Welcome information -->
<div class="login">
  <h1>Howdy!<i class="em em-face_with_cowboy_hat iclass"></i></h1>

<!-- Flashes if there are errors with input -->
  <div class="errors">
    <% if flash[:login_errors]%>
    <% flash[:login_errors].each do |error| %>
    <p><%=error%></p>
    <%end%>
    <%end%>
  </div>

<!-- Flashes if user tries to go to a page they need to be logged in to see -->
  <div class="errors">
    <% if flash[:danger]%>
    <% flash[:danger].each do |error| %>
    <p><%=error%></p>
    <%end%>
    <%end%>
  </div>

<!-- Login form -->
  <%= form_for(:session, url: slogin_path) do |f| %>
  <h3>Username:</h3>
    <%= f.text_field :username, class: "input" %>
  <h3>Password: </h3>
    <%= f.password_field :password, class: "input" %>
    <%= f.submit "Log in", class: "submit", id: "slogin" %>
  <% end %>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2020 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>
    </div>
  </div>

</html>
