<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap for Teachers</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

<!-- Navigation menu divs and links -->
<nav role="navigation">
 <div id="menuToggle">
    <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/pages/tlanding"><li>Home</li></a>
          <a href="/pages/points"><li>Give/Take Points</li></a>
          <a href="/pages/estudents"><li>Edit Students</li></a>
          <a href="/pages/estore"><li>Edit Store</li></a>
          <a href="/pages/tmessages"><li>Message Students</li></a>
        <!-- Checks to see if messages exist for that teacher and shows badge if they do -->
          <% if messages %>
            <a href="/pages/alerts"><li>Alerts<i class="material-icons" style="font-size:32px;color:red">error</i></li></a>
        <!-- Else shows a normal link -->
            <% else %><a href="/pages/alerts"><li>Alerts</li></a>
          <% end %>
          <a href="/pages/profile"><li>Update Profile</li></a>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
       </ul>
  </div>
</nav>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main welcome -->
<h1>Send Messages</h1>

<!-- Hidden div that flashes message upon successful addition of messages -->
<div class="success">
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>
</div>

<!-- Hidden div that flashes message not sending -->
<div class="errors">
<% if flash[:delete] -%>
  <p class='notice'><%=h flash[:delete] %></p>
<% end -%>
</div>

<h2>Choose a student to send a message to below. Press send when you're ready!</h2>

<!-- Shows each student with a box to submit messages to them -->
<div class="flex">
    <% @students = Student.all %>
    <% @students.each do |student| %>
      <% if student[:teacher_id] == @current_user.id %>
      <div class="tmessages">
        <%= student.name %>
        <% @current_student = Student.find(student.id) %>
          <%= form_for Message.new do |f| %>
            <%= f.text_area :content, :class => 'sendText' %> <br>
            <%= f.hidden_field :user_id, :value => @current_student.id %>
            <%= f.submit "Send Message", :class => 'sendBtn' %>
        </div>
          <% end %>
      <% end %>
    <% end %>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2020 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>
    </div>
  </div>

</html>
