<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap for Teachers</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

<!-- Navigation menu divs and links -->
<nav role="navigation">
 <div id="menuToggle">
    <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/pages/tlanding"><li>Home</li></a>
          <a href="/pages/points"><li>Give/Take Points</li></a>
          <a href="/pages/estudents"><li>Edit Students</li></a>
          <a href="/pages/estore"><li>Edit Store</li></a>
          <a href="/pages/tmessages"><li>Message Students</li></a>
        <!-- Checks to see if messages exist for that teacher and shows badge if they do -->
          <% if messages %>
            <a href="/pages/alerts"><li>Alerts<i class="material-icons" style="font-size:32px;color:red">error</i></li></a>
        <!-- Else shows a normal link -->
            <% else %><a href="/pages/alerts"><li>Alerts</li></a>
          <% end %>
          <a href="/pages/profile"><li>Update Profile</li></a>
          <a href="/pages/support"><li>Support</li></a>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
       </ul>
  </div>
</nav>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main welcome -->
<h1>Alerts</h1>

<!-- Hidden div that flashes message upon successful deletion of messages -->
<div class="errors">
<% if flash[:delete] -%>
  <p class='notice'><%=h flash[:delete] %></p>
<% end -%>
</div>

<h2>View and dismiss alerts below.</h2>

<!-- This div stores the messages for the user, which tell the teacher if items have been bought -->
<div class="flex">
  <% @messages = Message.all %>
  <% @messages.each do |message| %>
  <!-- List only that teacher's messages -->
    <% if message[:user_id] == @current_user.id %>
    <div class="storeItems">
      <!-- List the content of the message -->
      <h2><%= message.content %></h2><br><br>
      <!-- Link to delete the message -->
      <%= link_to "Delete Message", message, method: :delete, data: { confirm: "Are you sure?" }, class: "studentBtn" %>
    </div>
  <% end %>
  <% end %>

<!-- Loops through the products belonging to the current user and lists any product with a quantity less than 5 as being low on inventory. -->
  <% @products = Product.all %>
  <% @products.each do |product| %>
    <% if product[:teacher_id] == @current_user.id && product.quantity < 5 %>
    <div class="storeItems">
        <h2>You are running low on <%= product.name %>. <a href="/pages/estore">Click here to add more to your inventory.</a></h2>
    </div>
  <% end %>
  <% end %>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2019 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/class_sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/support">Contact Us</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>&nbsp;&nbsp;||&nbsp;&nbsp;classsapofficial@gmail.com</p>
    </div>
  </div>

</html>
