<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap for Teachers</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

<!-- Navigation menu divs and links -->
<nav role="navigation">
 <div id="menuToggle">
    <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/pages/tlanding"><li>Home</li></a>
          <a href="/pages/points"><li>Give/Take Points</li></a>
          <a href="/pages/estudents"><li>Edit Students</li></a>
          <a href="/pages/estore"><li>Edit Store</li></a>
          <a href="/pages/tmessages"><li>Message Students</li></a>
        <!-- Checks to see if messages exist for that teacher and shows badge if they do -->
          <% if messages %>
            <a href="/pages/alerts"><li>Alerts<i class="material-icons" style="font-size:32px;color:red">error</i></li></a>
        <!-- Else shows a normal link -->
            <% else %><a href="/pages/alerts"><li>Alerts</li></a>
          <% end %>
          <a href="/pages/profile"><li>Update Profile</li></a>
          <a href="/pages/support"><li>Support</li></a>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
       </ul>
  </div>
</nav>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main welcome -->
<h1>Edit Store</h1>

<!-- Hidden div that flashes message upon successful addition of more products -->
<div class="success">
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>
</div>

<!-- Hidden div that flashes message upon successful deletion of products -->
<div class="errors">
<% if flash[:delete] -%>
  <p class='notice'><%=h flash[:delete] %></p>
<% end -%>
</div>

<h2>Remove or add items below.</h2>

<div class="flex">
<!-- List of current products, populated based on user's ID, and option to delete or update them -->
<% @products = Product.all %>
<% @products.each do |product| %>
  <% if product[:teacher_id] == @current_user.id %>
  <div class="store">
    <span class="nameSpan">Name:</span><span class="nameSpan2"><%= product.name %></span><br>
    <%= form_for product do |f| %>

      <!-- Populates input tag with current price and then hidden field lets controller know a new price is coming -->

      <span class="nameSpan">Price:</span><%= f.number_field :price, required: true, min: 0, :class => 'storeItem', placeholder: product.price %><br>

        <%= hidden_field_tag :price, :value => params[:price] %>

      <!-- Populates input tag with current quantity and then hidden field lets controller know a new quantity is coming -->

      <span class="nameSpan">Quantity:</span><%= f.number_field :quantity,  required: true, min: 0, :class => 'storeItem', placeholder: product.quantity %>

        <%= hidden_field_tag :quantity, :value => params[:quantity] %>

      <!-- Submit buttons for updating product as well as deleting the entire thing -->

      <%= f.submit :class => 'studentBtn' %>

      <%= link_to "Delete Product", product, method: :delete, data: { confirm: "Are you sure?" }, class: "studentBtn" %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>

<!-- Button for adding new student -->
<button type="submit" id="newProduct">Add a New Product</button><br>

<!-- Modal for adding new products -->
<div id="productModal" class="studentModal">
  <div class="studentModalContent">
    <!-- Close button -->
    <span class="close">&times;</span>
    <div class="flex">
    <!-- ERB code for adding new products -->
    <%= form_for Product.new do |f| %>
    Name:<%= f.text_field :name, required: true %> <br/>
    Price:<%= f.text_field :price, required: true %> <br>
    Quantity:<%= f.text_field :quantity, required: true %> <br>
    <!-- Hidden field makes the value of the product's teacher_id the same as the current user's ID -->
    <%= f.hidden_field :teacher_id, :value => @current_user.id %>
    <%= f.submit :class => 'submitStudent' %>
    <% end %>
    </div>
  </div>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2019 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/class_sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/support">Contact Us</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>&nbsp;&nbsp;||&nbsp;&nbsp;classsapofficial@gmail.com</p>
    </div>
  </div>

</html>
