<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap for Teachers</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

<!-- Navigation menu divs and links -->
<nav role="navigation">
 <div id="menuToggle">
    <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/pages/tlanding"><li>Home</li></a>
          <a href="/pages/points"><li>Give/Take Points</li></a>
          <a href="/pages/estudents"><li>Edit Students</li></a>
          <a href="/pages/estore"><li>Edit Store</li></a>
          <a href="/pages/tmessages"><li>Message Students</li></a>
        <!-- Checks to see if messages exist for that teacher and shows badge if they do -->
          <% if messages %>
            <a href="/pages/alerts"><li>Alerts<i class="material-icons" style="font-size:32px;color:red">error</i></li></a>
        <!-- Else shows a normal link -->
            <% else %><a href="/pages/alerts"><li>Alerts</li></a>
          <% end %>
          <a href="/pages/profile"><li>Update Profile</li></a>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
       </ul>
  </div>
</nav>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main welcome -->
<h1>Edit Students</h1>

<!-- Hidden div that flashes message upon successful addition of more students -->
<div class="success">
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>
</div>

<!-- Hidden div that flashes message upon successful deletion of students -->
<div class="errors">
<% if flash[:delete] -%>
  <p class='notice'><%=h flash[:delete] %></p>
<% end -%>
</div>

<!-- Hidden div that flashes message upon addition errors -->
<div class="errors">
  <% if flash[:register_errors]%>
  <% flash[:register_errors].each do |error| %>
  <p><%=error%>.</p>
  <%end%>
  <%end%>
</div>

<h2>Remove or add students below.</h2>

<div class="flex">
<!-- List of current students, populated based on user's ID, and option to delete them -->
<% @students = Student.all %>
<% @students.each do |student| %>
  <% if student[:teacher_id] == @current_user.id %>
  <div class="products">
    <!-- Form for updating students, populates the fields with their current information except the password -->
    <%= form_for student do |f| %>

      <span class="nameSpan">Name:</span><br>

      <%= f.text_field :name, value: student.name, required: true %><br>

      <span class="nameSpan3">Username:</span><br>

      <%= f.text_field :username, value: student.username, required: true %><br>

      <span class="nameSpan3">Password:</span><br>

      <%= f.password_field :password, value: student.password %><br>

      <%= f.submit "Save Changes", class: "studentBtn" %>

      <!-- Link to delete student -->

      <%= link_to "Delete Student", student, method: :delete, data: { confirm: "Are you sure?" }, class: "studentBtn" %>

    <% end %>
  </div>
<% end %>
<% end %>
</div>

<!-- Button for adding new student -->
<button type="submit" id="newStudent">Add a New Student</button><br>

<!-- Link to printable cards page -->
<a href="/pages/print">Need printable cards? Click here!</a> Just write the passwords in for each student.<br>

<!-- Modal for adding new students -->
<div id="studentModal" class="studentModal">
  <div class="studentModalContent">
    <!-- Close button -->
    <span class="close">&times;</span>
    <div class="flex">
    <!-- ERB code for adding new students -->
    <%= form_for Student.new do |f| %>
    First Name:<%= f.text_field :name, required: true %> <br/>
    Username:<%= f.text_field :username, required: true %> <br>
    Password:<%= f.text_field :password, required: true %> <br>
    <!-- Hidden field makes the new student's teacher_id the same as the current user's ID -->
    <%= f.hidden_field :teacher_id, :value => @current_user.id %>
    <!-- Hidden fields set points and week at 0 -->
    <%= f.hidden_field :points, :value => 0 %>
    <%= f.hidden_field :week, :value => 0 %>
    <%= f.submit :class => 'submitStudent' %>
    <% end %>
    </div>
  </div>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2020 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>
    </div>
  </div>

</html>
