<!DOCTYPE html>
<html>
  <head>
    <title>Class Sap for Students</title>
<!-- Link to CSS Stylesheet -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

<!-- Navigation menu divs and links -->
<nav role="navigation">
 <div id="menuToggle">
    <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/pages/slanding"><li>Home<i class="em em-house iclass"></i></li></a>
          <a href="/pages/spoints"><li>My Points<i class="em em-bar_chart iclass"></i></li></a>
          <a href="/pages/store"><li>Store<i class="em em-department_store iclass"></i></li></a>
          <!-- Checks for student message and if they exist, shows alert icon -->
          <% if student_messages %>
            <a href="/pages/smessages"><li>Messages<i class="em em-email iclass"></i><i class="material-icons" style="font-size:32px;color:crimson">error</i></li></a>
            <% else %>
              <a href="/pages/smessages"><li>Messages<i class="em em-email iclass"></i></li></a>
          <% end %>
          <li><%= link_to "Logout", slogout_path, method: "delete" %><i class="em em-unlock iclass"></i></li>
       </ul>
  </div>
</nav>

<!-- Div with logo, floats left -->
  <div class="logo">
      <%= image_tag("logo.png") %>
  </div>

<!-- Main welcome -->
<h1>Messages</h1>

  <!-- Hidden div that flashes message upon successful deletion of message -->
  <div class="errors">
  <% if flash[:delete] -%>
    <p class='notice'><%=h flash[:delete] %></p>
  <% end -%>
  </div>

<h2>Read and dismiss your messages below.</h2>

<!-- Flexbox divs for store items -->
<div class="flex">
  <% @messages = Message.all %>
  <% @messages.each do |message| %>
  <!-- Searches all messages for those that match the current student's ID -->
    <% if message[:user_id] == @current_student_user.id %>
  <div class="storeItems">
    <!-- Lists message contents -->
    <h2><%= message.created_at.strftime("%B %d, %Y") %></h2>
    <h2><%= message.content %></h2><br><br>
    <!-- Link to delete message -->
    <%= link_to "Delete Message", message, method: :delete, data: { confirm: "Are you sure?" }, class: "studentBtn" %><br>
  </div>
<% end %>
<% end %>
</div>

</body>

<!-- Footer -->
  <div class="footer flexFooter">
    <div class="left">
      <p class="footerP">&#169; 2019 Class Sap</p>
    </div>
    <div class="middle">
      <a href="https://github.com/abbeytipton/class_sap" target="new"><%= image_tag("github.png") %></a>
    </div>
    <div class="right">
      <p class="footerP"><a href="/pages/about">Learn More</a>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="/pages/faq">FAQ</a>&nbsp;&nbsp;||&nbsp;&nbsp;classsapofficial@gmail.com</p>
    </div>
  </div>

</html>
